<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/db_hr?serverTimezone=UTC</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="show_sql">true</property>
    <property name="connection.username">root</property>
    <property name="connection.password">123456</property>


    <mapping resource="Educate.hbm.xml"/>
    <mapping resource="Institution.hbm.xml"/>
    <mapping resource="Job.hbm.xml"/>
    <mapping resource="Stipend.hbm.xml"/>
    <mapping resource="Users.hbm.xml"/>
    <!--    <mapping resource=""/>-->
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->



  </session-factory>
</hibernate-configuration>